*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.navbar-nav{
    padding-left: 780px !important;
}
.buttonnav{
    background-color: #7C4EE4 !important;
    color: #FFFF !important;
    font-weight: bold !important;   
    padding: 10px 15px !important;
}
.buttonnav:hover{
    background: #503a83 !important;
}
.navbar-brand img{
    margin-left: 25px ;
}
.divider{
    background-color: #7C4EE4;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
}
.text-section{
    font-family: "Raleway";
}
.classic{
    font-size: 65px;
}
.btn-button{
    color: black;
    background-color: #FFFF;
    border-color: #FFFF;
    border-radius: 5px;
    padding: 5px 10px;
    border: none; 
}
.imgdiv{
    min-width: 250px;
    max-width: 400px;
    flex-basis: 45%;
}
.imgdiv img{
    width: 100%;
}
.secondimg img{
    width: 100%;
}
.secondimg{
    position: relative;
    padding: 100px 170px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.secondpara{
    position: absolute;
    left: 450px;
    bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.secondpara h1{
   font-family: "Raleway";
   font-size: 30px;
}
.secondpara h6 .secondpara p  {
   font-family: "Roboto";
}
.secondpara h6{
    font-size: 12px;
}
.secondpara p{
    font-size: 16px;
}
.second-button{
    border-color: #7C4EE4;
    color: #7C4EE4;
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 10px;
}
.second-button:hover{
    background: #503a83;
    color: #FFFF;
}
.view-button{
    background-color: #7C4EE4;
    color: white;
    border-color: #7C4EE4;
    border-radius: 10px;
    padding: 2px 20px;
}
.view-button:hover{
    background: #503a83;
}
.our{
    display: flex;
    gap: 590px;
    justify-content: space-evenly;
    padding-top: 80px;
}
.third-img img{
    width: 500px;
}
.third-flex{
    display:flex ;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-top: 70px;
}
.third-text h6{
    font-size: 12px;
}
.third-text p{
    font-size: 16px;
}
.third-text h1{
    font-size: 32px;
}
.fourth-main{
    display: flex;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 50px;
    justify-content: center;
    flex-wrap: wrap;
}
.first-card img{
   width: 100%;
}
.first-card{
    min-width: 200px !important;
    max-width: 380px !important;
    margin: 30px 0px;
}
.footer{
    background-color: #7C4EE4;
    padding-top: 100px;
    margin-top: 50px;
    padding-bottom: 100px;
    align-items: center;
}
.get{
    border-color: white;
    background-color: #7C4EE4;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
}
.get:hover{
    background-color: white;
    color: #7C4EE4;
}
.input{
    display: flex;
    gap: 50px;
}
.input-div{
    margin-left: 500px !important;  
}
.input-div input{
    border-radius: 10px;
    padding: 10px;
}
.logos{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
.logos ul{
    margin: 20px 0;
    display:flex ;
   padding-left: 30rem;
}
.logos ul li{
   list-style: none;

}
.logos ul li a{
   text-decoration: none;
   margin: 20px 30px;
   color: grey;
}
.icon{
    display: flex;
    padding-left: 34rem;
}
.icon h6{
    margin: 20px 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: #7C4EE4;
}
.div6{
    text-align: center;
}
.logos{
    margin: 70px auto;
    padding-bottom: 50px;
    border-bottom: 2px solid gray;
}
.paragraph{
    margin: 30px 0;
    text-align: center;
}
.text-heading{
    margin: 20px 0px;
}
.input{
    margin-left: 50px;
}
.logos img{
    margin: 20px 0px;
}
@media(max-width:1075px){
    .navbar-nav{
      padding-left: 400px !important;
    }
    .classic{
        font-size: 38px;
    }
    .sub-text{
        font-size: 12px;
    }
    .btn-button{
        font-size: 10px;
        padding: 10px 15px;
    }
    .secondpara{
        position: absolute;
        left: 250px;
        bottom: -20px;
    }
    .secondpara h1{
        font-size: 22px;
        font-weight: 800;
    }
    .secondpara h6{
        font-size: 9px;
    }
    .secondpara p{
        font-size: 12px;
    }
    .secondimg{
        padding: 70px 120px;
        width: 882px;
        height: 500px;
    }
    .secondimg img{
        width: 100%;
    }
    .our{
        gap: 350px;
    }
    .third-flex{
        gap: 50px;
    }
    .third-text h6{
        font-size: 9px;
    }
    .third-text p{
        font-size: 12px;
    }
    .third-text h1{
        font-size: 22px;
    }
    .first-card{
        max-width: 270px !important;
    }
    .first-card h6{
        font-size: 9px;
        padding-top: 15px;
    }
    .first-card p{
        font-size: 12px;
    }
    .first-card h4{
        font-size: 17px;
    }
    .input-div{
        margin-left: 300px !important;
        margin-top: 20px;   
    }
    .logos ul {
        padding-left: 20rem;
    }
    .icon{
        padding-left: 24rem;
    }
}